@charset "utf-8";
@import "system";

.activeSlider {
  position: relative;
  padding: 0 10%;
  @include xxxl-up() {
    padding: 0 15%;
  }
  @include xl() {
    padding: 0 10%;
  }

  &:before {
    content: url(../images/active/back1.svg);
    position: absolute;
    width: 469px;
    height: 335px;
    right: 70px;
    bottom: -100px;
  }

  &:after {
    content: url(../images/active/back2.svg);
    position: absolute;
    width: 722px;
    height: 166px;
    top: 30px;
    right: 60px;
  }

  @include pad() {
    margin-bottom: 25px;
  }
  @include mob() {
    padding: 0 25px;
    margin-bottom: 15px;
  }

  .owl-nav {
    margin-top: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    .owl-prev {
      left: -50px !important;
      position: absolute !important;
      &:hover {
        background-color: transparent;
      }
    }
    .owl-next {
      right: -50px !important;
      position: absolute !important;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .imgBox {
    position: relative;
    @include xxl() {
      height: 500px;
    }
    @include xl() {
      height: 600px;
    }
    img {
      height: 700px;
      object-fit: cover;
      object-position: center;
      @include xxl() {
        height: 600px;
      }
      @include pad() {
        height: auto;
      }
      @include mob() {
        height: 500px;
      }
      @include sm-mob() {
        height: 400px;
      }
    }
    .date {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 5px;
      background-color: #2b4586;
      color: #fff;
      font-size: $font * 1;
    }
  }
}

.activeInside {
  .leftArea {
    padding-left: 50px;
    @include mob() {
      padding-left: 0;
    }
  }
  h1 {
    margin-top: 50px;
  }
  .masterTitle {
    margin-bottom: 100px;
    @include pad() {
      margin-bottom: 50px;
    }
    @include mob() {
      margin-bottom: 30px;
    }
  }
}

.leftArea {
  ul {
    @include ulstyle();
    padding-left: 25px;
    li {
      margin: 10px 0;
      a {
        font-size: $font * 1.5;
        text-decoration: none;
        transition: all 0.35s ease;

        color: #333;
        &:hover {
          color: #2b4586;
          text-decoration: underline;
          transition: all 0.35s ease;
        }
      }
    }
  }
}
